@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "myFont";
  src: url("/fonts/font-regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("/fonts/font-medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

#root {
  @apply font-myFont min-h-screen bg-app-light dark:bg-app-dark-2 dark:text-app-light text-app-dark-2;
}

button {
  @apply flex items-center justify-center rounded-full whitespace-nowrap transition-all active:scale-95 select-none;
}

input {
  @apply rounded-full w-full h-12 text-xl font-medium outline-none bg-[#EDEDEF] dark:bg-app-light/50 placeholder:text-app-dark-1/70 focus:bg-app-light dark:text-app-dark-2;
}

.number_input {
  @apply w-28 px-5 text-center bg-[#EDEDEF];
}

h2 {
  @apply text-2xl font-medium;
}

.list {
  @apply h-14 px-4 flex items-center gap-4 text-lg bg-neutral-50 dark:bg-app-dark-1 mb-px font-medium;
}

.list-modal {
  @apply h-14 px-4 flex items-center gap-4 text-lg bg-[#EDEDEF] dark:bg-app-dark-4 mb-px font-medium;
}

.btn {
  @apply h-12 text-lg font-medium bg-app-accent-2 text-app-accent-1 px-5 disabled:bg-app-accent-2/50;
}

.btn-small {
  @apply h-8 bg-app-accent-2 text-app-accent-1 px-4 font-medium;
}

.btn-rounded {
  @apply h-12 w-12 aspect-square bg-[#EDEDEF] dark:bg-white/15;
}

::-webkit-scrollbar {
  display: none;
}
